{{ $gitlaburl := site.Params.gitlab.url  }}

{{ if $gitlaburl }}
    <button title="gitlab repository"
        class="group h-7 rounded-md px-2 text-left text-xs font-medium
        text-gray-600 transition-colors dark:text-gray-400 hover:bg-gray-100
        hover:text-gray-900 dark:hover:bg-primary-100/5
        dark:hover:text-gray-50"
        onclick="window.open('{{ $gitlaburl }}');"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#215CAF" class="bi bi-gitlab" viewBox="0 0 16 16">
                <path d="m15.734 6.1-.022-.058L13.534.358a.57.57 0 0
                0-.563-.356.6.6 0 0 0-.328.122.6.6 0 0 0-.193.294l-1.47
                4.499H5.025l-1.47-4.5A.572.572 0 0 0 2.47.358L.289
                6.04l-.022.057A4.044 4.044 0 0 0 1.61 10.77l.007.006.02.014
                3.318 2.485 1.64 1.242 1 .755a.67.67 0 0 0 .814 0l1-.755
                1.64-1.242 3.338-2.5.009-.007a4.05 4.05 0 0 0 1.34-4.668Z"/>
        </svg>
    </button>

{{ end }}
